{{#if loading}}
<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
{{else}}
<div class="content-header">
  <span class="h3">{{feature.name}}</span>
  <div class="feature-header-buttons">
    <button id="edit" type="button" class="btn btn-success btn-sm" title="Редактировать"><i class="far fa-edit"></i></button>
    <button id="delete" type="button" class="btn btn-danger btn-sm" title="Удалить"><i class="fas fa-trash-alt"></i></button>
  </div>
  <hr>
</div>
<div class="content-scrollable">
  <strong>Страна:</strong> <a class="clickable" data-country={{feature.country.id}} href="#">{{feature.country.name}}</a>
  <br>
  {{#if feature.description}}
  <strong>Описание:</strong>
  <p>{{feature.description}}</p>
  {{else}}
  <br>
  {{/if}}
  <strong>Фото достопримечательностей:</strong><br>
  <dir class="images">
    {{#if feature.images}}
    {{#each feature.images}}
    <img class="cimg img-thumbnail" src="{{image}}" data-id="{{id}}">
    {{/each}}
    {{else}}
    Фотографий не найдено.
    {{/if}}
  </dir>
</div>

<div id="imgModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Фотографии достопримечательностей</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
          {{#each feature.images}}
            <div class="carousel-item {{#if (eq id ../modalImage)}}active{{/if}}">
              <img src="{{image}}" class="d-block w-100">
            </div>
          {{/each}}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
