{{#if loading}}
<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
{{else}}
<span class="h3">{{feature.name}}</span>
<div class="feature-header-buttons">
    <button id="edit" type="button" class="btn btn-success btn-sm" title="Редактировать"><i class="far fa-edit"></i></button>
    <button id="delete" type="button" class="btn btn-danger btn-sm" title="Удалить"><i class="fas fa-trash-alt"></i></button>
</div>
<hr>
<strong>Столица:</strong> <a class="clickable" data-city={{feature.capital.id}} href="#">{{feature.capital.name}}</a>
<br>
<strong>Города:</strong>
<ul>
{{#each feature.cities}}
    <li><a class="clickable" data-city={{id}} href="#">{{name}}</a></li>
{{/each}}
</ul>
{{/if}}
