{{#if loading}}
<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
{{else}}
<span class="h3">{{feature.name}}</span>
<div class="feature-header-buttons">
    <button id="edit" type="button" class="btn btn-success btn-sm" title="Редактировать"><i class="far fa-edit"></i></button>
    <button id="delete" type="button" class="btn btn-danger btn-sm" title="Удалить"><i class="fas fa-trash-alt"></i></button>
</div>
<hr>
<strong>Страна:</strong> <a class="clickable" data-country={{feature.country.id}} href="#">{{feature.country.name}}</a>
<br>
{{#if feature.description}}
<strong>Описание:</strong>
<p>{{feature.description}}</p>
{{else}}
<br>
{{/if}}
<strong>Фото достопримечательностей:</strong><br>
{{#if feature.images}}
{{#each feature.images}}
<a href="{{image}}" target="_blank"><img class="img-thumbnail" src="{{image}}" alt="{{name}}"></a>
{{/each}}
{{else}}
Фотографий не найдено.
{{/if}}
{{/if}}
