<span class="h3">{{name}}</span>
<div class="feature-header-buttons">
    {{#if isCountry}}
    {{else}}
    <button id="edit" type="button" class="btn btn-success btn-sm" title="Редактировать"><i class="far fa-edit"></i></button>
    {{/if}}
    <button id="delete" type="button" class="btn btn-danger btn-sm" title="Удалить"><i class="fas fa-trash-alt"></i></button>
</div>
<hr>
{{#if isCountry}}
    <strong>Столица:</strong> <a class="clickable" data-city={{capital.id}} href="#">{{capital.name}}</a><br>
    <strong>Города:</strong>
    <ul>
    {{#each city_set}}
        <li><a class="clickable" data-city={{id}} href="#">{{name}}</a></li>
    {{/each}}
    </ul>
{{else}}
    <strong>Страна:</strong> <a class="clickable" data-country={{country.id}} href="#">{{country.name}}</a><br>
    {{#if description}}
    <strong>Описание:</strong>
    <p>{{description}}</p>
    {{else}}
    <br>
    {{/if}}
    {{!-- Photos --}}
    <strong>Фото достопримечательностей:</strong><br>
    {{#if images}}
    {{#each images}}
    <a href="{{image}}" target="_blank">
        <img class="img-thumbnail" src="{{image}}" alt="{{name}}">
    </a>
    {{/each}}
    {{else}}
    Изображений не найдено.
    {{/if}}
{{/if}}
