<div class="container-fluid btn-group" role="group">
  <button type="button" class="choose btn btn-secondary" data-choose="country">
        Страна
    </button>
    <button type="button" class="choose btn btn-secondary" data-choose="city">
        Город
    </button>
    <button type="button" class="choose btn btn-secondary" data-choose="capital">
        Столица
    </button>
</div>
<br><br>
{{#if isCountry}}
{{#if countries}}
<strong class="h5">Создать страну</strong><br><br>
<select id="country" class="form-control">
    {{#each countries as |c|}}
    <option value="{{c.id}}">{{c.name}}</option>
    {{/each}}
</select>
<small class="form-text text-muted">
    Вы можете начать печатать навзвание страны, чтобы быстрее найти её.
</small>
<br>
<button id="submit" type="button" class="btn btn-primary btn-lg btn-block">Создать</button>
{{else}}
<strong>Нет стран для создания.</strong>
{{/if}}
{{/if}}  
{{#if isCity}}
<strong class="h5">Создать город</strong><br><br>
<strong>Название:</strong>
<input id="name" class="form-control">
<br>
<strong>Страна:</strong>
<select id="country" class="form-control">
    {{#each countries as |c|}}
    <option value="{{c.id}}">{{c.name}}</option>
    {{/each}}
</select>
<small class="form-text text-muted">
    Вы можете начать печатать навзвание страны, чтобы быстрее найти её.
</small>
<br>
<strong>Описание:</strong>
<textarea id="description" class="form-control" cols="30" rows="10"></textarea>
<br>
<button id="place" type="button" class="btn btn-warning btn-block">Выбрать место</button>
<button id="submit" type="button" class="btn btn-primary btn-lg btn-block">Создать</button>
{{/if}}
{{#if isCapital}}
{{#if countries}}
<strong class="h5">Создать столицу</strong><br><br>
<strong>Страна:</strong>
<select id="country" class="form-control">
    {{#each countries as |c|}}
    <option value="{{c.id}}">{{c.name}}</option>
    {{/each}}
</select>
<small class="form-text text-muted">
    Вы можете начать печатать навзвание страны, чтобы быстрее найти её.
</small>
<br>
<strong>Город:</strong>
{{#if cities}}
<select id="city" class="form-control">
    {{#each cities as |c|}}
    <option id="option" value="{{c.id}}">
        {{c.name}}
    </option>
    {{/each}}
</select>
{{else}}
<select id="city" class="form-control" disabled>
    <option value="-1">Создайте город в этой стране</option>
</select>
{{/if}}

<small class="form-text text-muted">
    Вы можете начать печатать навзвание города, чтобы быстрее найти его.
</small>
<br>
<button id="submit" type="button" class="btn btn-primary btn-lg btn-block">Создать</button>
{{else}}
<strong>Нет стран для создания столиц.</strong>
{{/if}}
{{/if}}
