<span class="h3">{{name}}</span>
<div class="feature-header-buttons">
    <button id="edit" type="button" class="btn btn-success btn-sm" data-id={{id}} data-type={{type}}>
        <i class="far fa-edit"></i>
    </button>
    <button id="delete" type="button" class="btn btn-danger btn-sm" data-id={{id}} data-type={{type}}>
        <i class="fas fa-trash-alt"></i>
    </button>
</div>
<hr>
{{#if isCountry}}
    <strong>Столица:</strong> <a class="clickable" data-city={{capital.id}} href="#">{{capital.name}}</a><br>
    <strong>Города:</strong>
    <ul>
    {{#each city_set as |city|}}
        <li><a class="clickable" data-city={{city.id}} href="#">{{city.name}}</a></li>
    {{/each}}
    </ul>
{{else}}
    <strong>Страна:</strong> <a class="clickable" data-country={{country.id}} href="#">{{country.name}}</a><br>
    {{#if description}}
    <strong>Описание:</strong>
    <p>{{description}}</p>
    {{else}}
    <br>
    {{/if}}
    {{!-- Photos --}}
    <strong>Фото достопримечательностей:</strong><br>
    {{#if images}}
    {{#each images as |i|}}
    <a href="{{i.image}}" target="_blank">
        <img class="img-thumbnail" src="{{i.image}}" alt="{{i.name}}">
    </a>
    {{/each}}
    {{else}}
    Изображений не найдено.
    {{/if}}
{{/if}}
