<span class="h3">{{name}}</span>
<button type="button" class="btn btn-success btn-sm">Edit</button>
<hr>
{{#if isCountry}}
    <strong>Capital:</strong> <a class="clickable" data-city={{capital.id}} href="#">{{capital.name}}</a><br>
    <strong>Cities:</strong>
    <ul>
    {{#each city_set as |city|}}
        <li><a class="clickable" data-city={{city.id}} href="#">{{city.name}}</a></li>
    {{/each}}
    </ul>
{{else}}
    <strong>Country:</strong> <a class="clickable" data-country={{country.id}} href="#">{{country.name}}</a><br>
    {{#if description}}
    <strong>Description:</strong>
    <p>{{description}}</p>
    {{else}}
    <br>
    {{/if}}
    {{!-- Photos --}}
    <strong>Photos:</strong><br>
    {{#if images}}
    {{#each images as |i|}}
    <a href="{{i.image}}" target="_blank">
        <img class="img-thumbnail" src="{{i.image}}" alt="{{i.name}}">
    </a>
    {{/each}}
    {{else}}
    No images found.
    {{/if}}
{{/if}}
