<span class="h3">Результаты поиска:</span>
<hr>
{{#if list}}
{{#each list as |l|}}
    {{#if l.countries}}
    <span class="h5">Страны:</span><br>
    {{#each l.countries as |c|}}
    <a class="clickable" data-country={{c.id}} href="#">{{c.name}}</a><br>
    {{/each}}
    <br>
    {{/if}}
    {{#if l.cities}}
    <span class="h5">Города:</span><br>
    {{#each l.cities as |c|}}
    <a class="clickable" data-city={{c.id}} href="#">{{c.name}}</a><br>
    {{/each}}
    {{/if}}
{{/each}}
{{else}}
    <strong>Ничего не найдено.</strong>
{{/if}}
