<span class="h3">Результаты поиска:</span>
<hr>
{{#if list}}
<ul>
{{#each list as |l|}}
    {{#each l.countries as |c|}}
    <li>Страна: <a class="clickable" data-country={{c.id}} href="#">{{c.name}}</a></li>
    {{/each}}
    {{#each l.cities as |c|}}
    <li>Город: <a class="clickable" data-city={{c.id}} href="#">{{c.name}}</a></li>
    {{/each}}
{{/each}}
</ul>
{{else}}
    <strong>Ничего не найдено.</strong>
{{/if}}
