<div class="content-header">
  <strong class="h4">Создать столицу</strong>
  <hr>
</div>
<div class="content-scrollable">
  {{#if countries}}
  <form>
    <strong>Страна:</strong>
    <select id="country" name="country" class="form-control">
      {{#each countries}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
    <small class="form-text text-muted">
      Вы можете начать печатать название страны, чтобы быстрее найти её.
    </small>
    <br>
    <strong>Город:</strong>
    {{#if cities}}
    <select name="city" class="form-control">
      {{#each cities}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
    {{else}}
    <select name="city" class="form-control">
      <option value="-1">Создайте город в этой стране</option>
    </select>
    {{/if}}
    <small class="form-text text-muted">
      Вы можете начать печатать название города, чтобы быстрее найти его.
    </small>
    <br>
  </form>
  {{else}}
  <strong>Нет стран для создания столиц.</strong>
  {{/if}}
</div>
{{#if countries}}
<div class="content-footer">
  <button id="submit" type="button" class="btn btn-primary btn-lg btn-block">Создать</button>
</div>
{{/if}}
