{{#if countries}}
<strong class="h5">Создать столицу</strong><br><br>
<form>
    <strong>Страна:</strong>
    <select id="country" name="country" class="form-control">
        {{#each countries}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    <small class="form-text text-muted">
        Вы можете начать печатать навзвание страны, чтобы быстрее найти её.
    </small>
    <br>
    <strong>Город:</strong>
    {{#if cities}}
    <select name="city" class="form-control">
        {{#each cities}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>
    {{else}}
    <select name="city" class="form-control">
        <option value="-1">Создайте город в этой стране</option>
    </select>
    {{/if}}
    <small class="form-text text-muted">
        Вы можете начать печатать навзвание города, чтобы быстрее найти его.
    </small>
    <br>
    <button id="submit" type="button" class="btn btn-primary btn-lg btn-block">Создать</button>
</form>
{{else}}
<strong>Нет стран для создания столиц.</strong>
{{/if}}
